$color-primary: #003755;
$color-primary-light: #d7e9f1;
$color-secondary: #009edd;

$max-width: 58.75em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: $color-primary-light;
}

.main {
  max-width: $max-width;
  margin: 0 auto;
}
